.container{
  display: flex;
  background: slategray;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 55px;
}

#turtle-video{
  border-radius: 150px;
  opacity: 85%;
}

#barley-video{
  border-radius: 150px;
  opacity: 10%;
}